<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ todo.name }} | TODOS</title>
</head>
<body>
  <h1>{{ todo.name }}</h1>
  <form action="{% url 'todo:edit_todo' todo.id %}" method="POST">
    {% csrf_token %}
    <input type="text" value="{{ todo.name }}" name="todo_name">
    <button type="submit">Update the name</button>
  </form>
</body>
</html>