<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
</head>
<body>
  <h1>Login page</h1>
  {% if message %}
    <p style="font-size: 24px; color: red;">
      {{ message }}
    </p>
  {% endif %}
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <p>
      <input type="text" name="username" required autofocus>
    </p>
    <p>
      <input type="password" name="password" required />
    </p>
    <button type="submit">Login</button>
  </form>
</body>
</html>